.c-box {
  height: 100px;
  width: 100%;
}

.bordo {
  background-color: #332231;
}

.blakish {
  background-color: #000011;
}

.orange-red {
  background-color: #B51F00;
}

.pinkish {
  background-color: #FF6D65;
}

.orangish {
  background-color: #FF382E;
}

.pinkish-red {
  background-color: #FF082F;
}

.darkish-red {
  background-color: #B52735;
}


