<!DOCTYPE html>
  <head>
    <link href="stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,800&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>

  <body class="page-wrapper">
    <header class="page-header">
      <h1 class="greeting">
        Hello, I'm <span class="greeting-name">Patrick</span>
      </h1>
    </header>

    <section class="page-section">
      <p class="page-section__line">
        I'm a developer based in Montevideo, Uruguay.
      </p>

      <p class="page-section__line">
        I've been working with <span class="page-section--red">Ruby</span> and <span class="page-section--yellow">JavaScript</span> for the past few years now.
        <span class="whisper whisper--right">(psst! that's been a lot of fun!)</span>
      </p>

      <p class="page-section__line">
        What I do, I do with <span class="page-section--skyblue">passion and commitment</span>.
      </p>

      <p class="page-section__line">
         I enjoy sharing the things I've learned, and even more I enjoy discussing about what I yet not fully understand!
        <span class="whisper whisper--green">(ehem... beer in hand, of course!)</span>
      </p>
    </section>

    <footer class="page-footer">
      <ul class="contact-list">
        <li class="contact-list__item">
          <a href="https://github.com/pmaite88" target="_blank">
            <i class="contact-icon contact-icon--github"></i>
          </a>
        </li>
        <li class="contact-list__item">
          <a href="https://twitter.com/pat_ricio_88" target="_blank" >
            <i class="contact-icon contact-icon--twitter"></i>
          </a>
        </li>
        <li class="contact-list__item">
          <a href="mailto:pmaite88@gmail.com" target="_blank">
            <i class="contact-icon contact-icon--envelope"></i>
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
