<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="jquery-canvas-sparkles.js"></script>

    <link href="stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class='stars'>
    <div class='c-box bordo'>
    </div>

    <div class='c-box blakish'>
    </div>

    <div class='c-box orange-red'>
    </div>

    <div class='c-box pinkish'>
    </div>

    <div class='c-box orangish'>
    </div>

    <div class='c-box pinkish-red'>
    </div>

    <div class='c-box darkish-red'>
    </div>
  <body>
</html>